.display_none {
  display: none;
}

.updated_at {
  font-style: italic;
  font-size: 0.8em;
}

#change_brackets_form {
  display: none;
}

#change_brackets_form textarea {
  width: 600px;
  height: 500px;
}

.tournament_info {
  float: left;
  padding: 10px;
  background-color: #b3efb4;
  border-radius: 5px;
  border: 2px solid black;
}

.bracket {
  float: left;
  padding: 10px;
  margin-left: 15px;
  margin-bottom: 20px;
  background-color: #efefef;
  border: 1px solid black;
  border-radius: 4px;
}

.bracket .contestant {
  font-weight: bold;
  color: #008000;
}

.bracket table {
  margin-left: 15px;
}

.bracket table th, td {
  padding: 3px;
}
